<section class="about-us">
 <div class="container">
    <div class="heading">
    <h1 class=>About Us</h1>
    <p class="text">We are dedicated to providing engaging and effective English language courses in a supportive and stimulating learning environment</p>
 </div>
 <div class="grid-container">
    <div class="grid-item">Row 1</div>
    <div class="grid-item">Row 2</div>
    <div class="grid-item">Row 3</div>
    <div class="grid-item">Row 4</div>
    <div class="grid-item">Row 5</div>
  </div>
</section>
