.hide {
  display: none;
}

:root {
  --cl-dark: #121417;
  --cl-dark-green: #4DC274;
  --cl-dark-green-hover: #38AE5F;
  --cl-light-green: #D4FDE1;
  --cl-light-green-accent: #BEE8CC;
  --cl-grey: #F3F5F6;
  --cl-white: #FFFFFF;

  --font-family: "Manrope", sans-serif;

  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;

  /* Transitions */
  --fast-trns: 300ms ease;

  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-style: normal;
  font-optical-sizing: auto;

  min-width: 320px;
}

.font-regular {
  font-weight: var(--weight-regular);
}

.font-bold {
  font-weight: var(--weight-bold);
}

.font-semibold {
  font-weight: var(--weight-semibold);
}

.btn {
  background: var(--cl-dark-green);

  border: 1px solid transparent;
  border-radius: 12px;

  font-size: 14px;
  font-weight: var(--weight-bold);

  color: var(--cl-white);

  min-width: 120px;
  min-height: 24px;
  padding: 14px 76px;

  transition: var(--fast-trns);
  transition-property: background-color, color, border-color;
}

.btn:hover,
.btn:active {
  background: var(--cl-dark-green-hover);
}

/*:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
*/