.hide {
  display: none;
}

:root {
  --cl-dark: #121417;
  --cl-dark-rgb: 18, 20, 23;
  --cl-dark-green: #4DC274;
  --cl-dark-green-hover: #38AE5F;
  --cl-light-green: #D4FDE1;
  --cl-light-green-accent: #BEE8CC;
  --cl-grey: #F3F5F6;
  --cl-white: #FFFFFF;
  --font-family: "Manrope", sans-serif;
  --weight-regular: 400;
  --weight-semibold: 600;
  --weight-bold: 700;
  --cl-hover-primary: #38AE5F;
  --cl-light-green-secondary: #BEE8CC;
  --font-size-base: 14px;
  --line-height-base: 1.7;
  --indent-1: 4px;
  --indent-2: 8px;
  --indent-3: 12px;
  --indent-4: 16px;
  --indent-5: 20px;
  --indent-6: 24px;
  --indent-7: 28px;
  --indent-8: 32px;
  --indent-9: 36px;
  --indent-10: 40px;
  --indent-11: 44px;
  --indent-12: 48px;
  /* Transitions */
  --base-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  --fast-trns: 300ms ease;

  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
  font-style: normal;
  font-optical-sizing: auto;

  min-width: 320px;
}

.font-regular {
  font-weight: var(--weight-regular);
}

.font-bold {
  font-weight: var(--weight-bold);
}

.font-semibold {
  font-weight: var(--weight-semibold);
}

.btn {
  background: var(--cl-dark-green);

  border: 1px solid transparent;
  border-radius: 12px;

  font-size: 14px;
  font-weight: var(--weight-bold);

  color: var(--cl-white);

  min-width: 120px;
  min-height: 24px;
  padding: 14px 76px;

  transition: var(--fast-trns);
  transition-property: background-color, color, border-color;
}

.btn:hover,
.btn:active {
  background: var(--cl-dark-green-hover);
}

/*:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}
*/

body {
  color: var(--cl-dark);
  font-family: var(--font-family);
  font-optical-sizing: auto;
  font-size: var(--font-size-base);
  font-style: normal;
  line-height: var(--line-height-base);
  min-width: 320px;
}

p {
  color: rgba(var(--cl-dark-rgb), 0.5);
}

section {
  padding-bottom: calc(var(--indent-10) * 2);
  padding-top: calc(var(--indent-10) * 2);
}

section > h2,
section > p {
  text-align: center;
}

h2 {
  color: var(--cl-dark);
  font-size: 32px;
  font-weight: var(--weight-bold);
  letter-spacing: -0.02em;
  line-height: 1.125;
  margin-bottom: 14px;
}

.title-subtext-background {
  display: inline-block;
  position: relative;
}

.title-subtext-background:before {
  background-color: var(--cl-light-green-secondary);
  border-radius: 8px;
  bottom: -3px;
  content: '';
  display: block;
  height: 12px;
  left: -2px;
  position: absolute;
  right: 0;
  transition: height var(--base-transition);
  width: calc(100% + 6px);
  z-index: -1;
}

.title-subtext-background:hover:before {
  height: 34px;
}

.subtitle {
  color: rgba(var(--cl-dark-rgb), 0.8);
  font-size: 18px;
  font-weight: var(--weight-regular);
  line-height: 1.6;
}

@media only screen and (max-width: 767px) {
  .subtitle {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: var(--indent-5);
  }
}

button {
  background-color: var(--cl-dark-green);
  border-radius: 12px;
  border: none;
  color: var(--cl-white);
  font-family: var(--font-family);
  font-size: 14px;
  font-weight: var(--weight-bold);
  height: 52px;
  line-height: 1.7;
  min-width: 256px;
  padding: 0;
}

@media only screen and (max-width: 767px) {
  section > h2,
  section > p {
    padding-inline: var(--indent-5);
  }
}

@media only screen and (min-width: 768px) {
  button {
    font-size: 18px;
    height: 60px;
    line-height: 1.5;
  }
}

@media only screen and (hover: hover) {
  button {
    transition: background-color var(--base-transition);
  }

  button:hover,
  button:focus {
    background-color: var(--cl-hover-primary);
  }

  button.outline:hover,
  button.outline:focus {
    background: transparent;
    border: 1px solid rgba(255, 255, 255, 0.4);
  }
}