.container {
  min-width: 320px;
  max-width: 335px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (min-width: 704px) {
  .container {
    max-width: 704px;
  }
}

@media screen and (min-width: 1152px) {
  .container {
    max-width: 1152px;
  }
}