.header {
  max-width: 375px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
}

.header-container {
  width: 100%;
  padding: 20px;
  flex-shrink: 0;
}
.nav {
  display: flex;
  justify-content: space-between;
}
.nav-logo {
  font-size: 20px;
  font-weight: var(--weight-bold);
  align-content: center;
}

.nav-logo-text span {
  color: var(--cl-dark-green);
}
.nav-menu {
  margin-top: 196px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.nav-menu a {
  position: relative;
  color: var(--cl-white);
  font-weight: var(--weight-semibold);
  line-height: 18px;
}
.nav-menu a::after {
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: var(--cl-white);
  transition: width 0.3s ease;
}
.nav-menu a:hover::after {
  width: 37px;
}
.nav-items {
  background-color: var(--cl-dark-green);
  width: 240px;
  height: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.social-links {
  display: flex;
  gap: 12px;
  justify-content: center;
}
.social-links svg {
  display: flex;
  width: 26px;
  height: 26px;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  fill: var(--cl-white);
}

.social-links a {
  display: flex;
  padding: 8px;
  align-items: center;
  gap: 8px;
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  transition: transform 0.3s ease, border-color 0.3s ease;
}

.social-links a:hover {
  transform: scale(1.1);
  border-color: var(--cl-dark-green);
}

.icon {
  fill: var(--cl-dark);
}

.overlay-menu {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: flex-end;

  transform: translateX(-100%);
  transition: transform 0.5s ease;
}

.overlay-menu.active {
  display: flex;
  transform: translateX(0);
}

.burger-menu {
  all: unset;
  background: none;
  border: none;
  cursor: pointer;
  display: none;
  stroke: var(--cl-dark);
}

.close-menu {
  all: unset;
  background: none;
  border: none;
  color: var(--cl-white);
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  cursor: pointer;
}
.burger-menu {
  display: block;
}

.nav-list {
  display: none;
}
.nav-list a {
  position: relative;
}

.overlay-menu.active .nav-list {
  display: flex;
}

@media (min-width: 768px) and (max-width: 1279px) {
  .header {
    max-width: 768px;
  }

  .nav-items {
    width: 384px;
  }
  .close-menu svg {
    width: 40px;
    height: 40px;
  }
  .social-links svg {
    width: 28px;
    height: 28px;
  }
}

@media (min-width: 1280px) {
  .header {
    max-width: 1280px;
    display: flex;
    align-items: center;
  }
  .header-container {
    padding: 20px 128px;
    justify-content: space-between;
  }
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
  }
  .nav-menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    line-height: 18px;
  }
  .nav-menu a::after {
    background-color: var(--cl-dark-green);
  }
  .burger-menu {
    display: none;
  }
  .social-links svg {
    width: 28px;
    height: 28px;
  }
  .nav-list {
    margin-top: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 160px;
  }

  .nav-list a {
    color: var(--cl-dark);
  }

  .social-links svg {
    fill: var(--cl-dark);
  }

  .social-links a {
    border: 1px solid rgba(18, 20, 23, 0.1);
  }

  .social-links a:hover {
    transform: scale(1.1);
    border: 1px solid rgba(77, 194, 116, 0.1);
  }

  .social-links svg:hover {
    fill: var(--cl-dark-green);
  }
}
