.hero {
  margin-top: 80px;
}

@media only screen and (min-width: 768px) {
  .hero {
    margin-top: 100px;
  }
}

.hero-container {
  background-image: linear-gradient(357deg,
      rgba(0, 0, 0, 0.40) 39.23%,
      rgba(0, 0, 0, 0.00) 66.28%),
    url(../img/hero_bg_mob@1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  border-radius: 16px;

  padding-left: 20px;

  min-height: 709px;
  min-width: 320px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

@media (min-resolution: 192dpi) {
  .hero-container {
    background-image: linear-gradient(357deg,
        rgba(0, 0, 0, 0.40) 39.23%,
        rgba(0, 0, 0, 0.00) 66.28%),
      url(../img/hero_bg_mob@2x.jpg);
  }
}

@media only screen and (min-width: 768px) {
  .hero-container {
    background-image: linear-gradient(96deg,
        rgba(0, 0, 0, 0.40) 36.36%,
        rgba(0, 0, 0, 0.00) 51.43%),
      url(../img/hero_bg_tab@1x.jpg);

    border-radius: 30px;
    padding-left: 32px;
    min-height: 857px;
  }

  @media (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(96deg,
          rgba(0, 0, 0, 0.40) 36.36%,
          rgba(0, 0, 0, 0.00) 51.43%),
        url(../img/hero_bg_tab@2x.jpg);
    }
  }
}

@media only screen and (min-width: 1280px) {
  .hero-container {
    background-image: linear-gradient(96deg,
        rgba(0, 0, 0, 0.40) 36.36%,
        rgba(0, 0, 0, 0.00) 51.43%),
      url(../img/hero_bg_desk@1x.jpg);

    min-height: 629px;
  }

  @media (min-resolution: 192dpi) {
    .hero-container {
      background-image: linear-gradient(96deg,
          rgba(0, 0, 0, 0.40) 36.36%,
          rgba(0, 0, 0, 0.00) 51.43%),
        url(../img/hero_bg_desk@2x.jpg);
    }
  }
}

.hero-header {
  font-size: 38px;
  font-weight: var(--weight-semibold);
  color: var(--cl-white);
  line-height: 1.05;
}

@media only screen and (min-width: 768px) {
  .hero-header {
    font-size: 60px;
    line-height: 1.17;
    max-width: 488px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-header {
    max-width: 564px;
  }
}

.hero-header-accent {
  color: var(--cl-light-green-accent);
}

.hero-button {
  display: inline-block;
  margin: 40px auto 20px auto;
  width: 295px;
}

@media only screen and (min-width: 768px) {
  .hero-button {
    margin: 32px 0 215px 0;
    width: 306px;
  }
}

@media only screen and (min-width: 1280px) {
  .hero-button {
    margin: 32px 0 83px 0;
  }
}

.hero-link {
  --link-size: 38px;
  --link-margin: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: var(--cl-white);

  color: var(--cl-dark-green);

  border-radius: 50%;

  margin: 0 var(--link-margin) var(--link-margin) auto;

  height: var(--link-size);
  width: var(--link-size);

  transition: var(--fast-trns);
  transition-property: background-color, color, border-color;
}

@media only screen and (min-width: 768px) {
  .hero-link {
    --link-margin: 32px;
  }
}

.hero-link:hover {
  background: var(--cl-dark-green);
  color: var(--cl-white);
}

@media only screen and (min-width: 768px) {
  .hero-link {
    --link-size: 48px;
  }
}